# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Reports
allure-results/
allure-report/
report.html

# Logs
logs/*.log

# Screenshots
screenshots/*.png

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Generated reports
reports/html/*
reports/allure-results/*
reports/allure-report/*

# Failure screenshots
screenshots/failed/*

# Keep directory placeholders
!reports/html/.gitkeep
!reports/allure-results/.gitkeep
!reports/allure-report/.gitkeep
!screenshots/failed/.gitkeep